* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex: 4;

  background-color: rgb(235, 235, 235);
}
footer {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
